<html>
    <head>
        <title>Jishnu Weds Thushara</title>
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta name="description=" content="The day has come when we ,`Jishnu & Thushara`  are taking a step forward to begin a wonderful life together!!! ">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="static/mobile.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="static/mobile.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63437833-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
    <body>
        <div id="first">
            <a id="dev" href="https://www.facebook.com/sajithmohan.vk">Developed by Sajithmohan</a>
            <div id="head">
                <div id="mtitle">
                    Wedding Invitation
                </div>
                <div id="moption">
                    <div class="optionc">
                        <img class="option" src="static/img/opt.jpg">
                    </div>
                    <div class="optionc">
                        <img class="option" src="static/img/newcht.jpg">
                    </div>
                    <div class="optionc">
                        <img class="option" src="static/img/find.jpg">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="tabs">
                <div class="tab">
                    CALLS
                </div>
                <div class="tab">
                    CHATS
                    <div id="tabsel">
                    </div>
                </div>
                <div class="tab">
                    CONTACTS
                </div>
                <div class='clear'></div>
            </div>
            <div class="contactswrapper" id="0">
                <div class="contacts">
                    <div class='cpic'>
                        <img class="cimg" src="static/img/pp.jpg">
                    </div>
                    <div class="uinfo">
                        <div class="topline">
                            <div>
                                Jishnu Janardhanan
                            </div>
                            <div class="mnstatus">
                                my new status
                            </div>
                        </div>
                    </div>
                    <div class="device">
                        12:01 AM
                    </div>    
                    <div class="clear"></div>
                </div>
                <div class="hr"></div>
                
            </div>
            <div class="contactswrapper" id="1">
                <div class="contacts">
                    <div class='cpic'>
                        <img class="cimg" src="static/img/thushara.jpg">
                    </div>
                    <div class="uinfo">
                        <div class="topline">
                            <div>
                                Thushara Aravind
                            </div>
                            <div class="mnstatus">
                                🎉💃Wedding bells...
                            </div>
                        </div>
                    </div>
                    <div class="device">
                        YESTERDAY
                    </div>    
                    <div class="clear"></div>
                </div>
                <div class="hr"></div>
                
            </div>
            <!--<div class="contactswrapper" id="2">
                <div class="contacts">
                    <div class='cpic'>
                        <img class="cimg" src="static/img/pp.jpg">
                    </div>
                    <div class="uinfo">
                        <div class="topline">
                            <div>
                                Jishnu Janardhanan
                            </div>
                            <div class="mnstatus">
                                my new status
                            </div>
                        </div>
                    </div>
                    <div class="device">
                        MOBILE
                    </div>    
                    <div class="clear"></div>
                </div>
                <div class="hr"></div>
                
            </div>
            <!-- <div class="contactswrapper" id="3">
                <div class="contacts">
                    <div class='cpic'>
                        <img class="cimg" src="static/img/pp.jpg">
                    </div>
                    <div class="uinfo">
                        <div class="topline">
                            <div>
                                Jishnu Janardhanan
                            </div>
                            <div class="mnstatus">
                                my new status
                            </div>
                        </div>
                    </div>
                    <div class="device">
                        MOBILE
                    </div>    
                    <div class="clear"></div>
                </div>
                <div class="hr"></div>
                
            </div> -->
        </div>
        <div id="second" >
            <div id="chatview">
                <div id="cvhead">
                    <img id="lftarrow" src="static/img/bck.jpg">
                    <img id="cvpic" src="static/img/pp.jpg">
                    <span id="cvproname">
                        <span id="cvpronametxt">Jishnu Janardhanan</span>
                        <div id="cvprostatus">
                            online
                        </div>
                    </span>

                    <div id="moption">
                        <div class="optionc">
                            <img class="option" src="static/img/opt.jpg">
                        </div>
                        <div class="optionc">
                            <img class="option" src="static/img/attach.jpg">
                        </div>
                        <div class="optionc">
                            <img class="option" src="static/img/call.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear" ></div>
                </div>
                <div id="cvchatcontainer">
<!--                     <div class="lmsgc">
                        <div class="lmsg">
                            Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu
                            
                        </div>
                        
                    </div>
                    <div class="rmsgc">
                        <div class="rmsg">
                            Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu...ithil ethenkilum kitum enn thinnunnu Ee numbere ullu..
                            <div>
                                <span class="msgstatus">10:45 AM <img src="static/img/blueTick.png"></span>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
                <div id="cvchatinpbox">
                    <div id="cvchatinpwboxw">
                        <div id="cvchatinpwbox">
                            <textarea disabled id="cvchatinp"></textarea>
                        </div>
                    </div>

     
                    <img id="inpvoice"  src="static/img/voice.png">
                </div>
            </div>
        </div>
        <div id="third">
            <div id="probigimgc">
                <div id="probigimgcin">
                </div>

            </div>
            <div id="proopts">
                    <img id="probck" src="static/img/bck1.png">
                    <img id="proopt" src="static/img/menu1.png">
                    <div class="clear" ></div>
            </div>
            <div id="thrdproname">
                    <span id="proname">Jishnu Janardhanan</span><br/>
                    <span>online</span>
            </div>
            <div id="thrdnav">
                <div class='statusbox'>
                    <div class="statusboxhead">
                        <div class="statushead">Status</div>
                        <div class="statustime">5 HOURS AGO</div>
                        <div class="clear"></div>
                    </div>
                    <div class="statushr"></div>
                    <div class="statusboxcont" id="statusboxcont">
                        Always be humble and hungry... And never give up 
                    </div>
                </div>
                <div class='statusbox'>
                    <div class="statusboxhead">
                        <div class="statushead">Phone</div>
                    </div>
                    <div class="statushr"></div>
                    <div class="statusboxcont" id="statusboxphno">
                        9538062781
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
